@font-face {
    font-family: "IntegralCF";
    src: url('/Assests/fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-regular.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "IntegralCF";
    src: url('/Assests/fonts/Integral-CF-Font-Family/Fontspring-DEMO-integralcf-bold.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "Satoshi";
    src: url('/Assests/fonts/Satoshi-Variable/Satoshi-Variable.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
}


@font-face {
    font-family: "Versace";
    src: url('/Assests/fonts/Versace-Font/Radiant\ Bold\ Condensed\ Regular.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Zara";
    src: url('/Assests/fonts/Zara-Font/OPTIBodoni-Antiqua.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Gucci";
    src: url('/Assests/fonts/Gucci-Font/Gucci-Font/Granjon.otf') format('opentype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "Prada";
    src: url('/Assests/fonts/Prada-Font/engry.otf') format('opentype');
    font-weight:900;
    font-display: swap;
    font-style: normal;
}

@font-face {
    font-family: "futura";
    src: url('/Assests/fonts/futura-light/futura-light/Futura\ Light.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
}

body{
margin: 0%;
height: 100vh;
}

.aether{
    width: 1400px;
    display: grid;
    justify-content: center;
}

/* SIGN UP SECTION */


.signUp-bg{
        width: 100%;
     background-color: black;
}
.signUp{
    position: relative;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Satoshi";
}

.signUp > p{
text-align: center;
font-size: 12px;
}

.signUp span{
    font-weight: 500;
    text-decoration: underline;
}

.signUp img{
    position: relative;
    left: 400px;
}

/*HEADER SECTIION*/
.heroSection{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 65px;
}

#menu{
    display: none;
}

#s-icon{
    display: none;
}

.List{
    display: flex;
    font-size: 15px;
    gap: 20px;
}

#shop{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.search-section{
    display: none;
}

.search-section-two{
    display: flex;
    align-items: center;
}

.s-icon{
    display: none;
}

.search-section-two >img{
    position: absolute;
    width: 15px;
    padding-left: 10px;
}

.search-section-two > input{
    padding-left: 30px;
    width: 400px;
    height: 40px;
    background-color: rgba(225, 222, 222, 0.495);
    border-radius: 25px;
    border: 0;
}




.cart-profile{
    display: flex;
    gap: 30px;
}




/*FIND CLOTHES THAT MATCH YOUR STYLE SECTION*/

.new-sec{
    display: flex;
    background-color: #f2f0f1;
    position: relative;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    
}

.bg-image{
    padding-top: 30px;
    
}

.bg-image img{
    width: 500px;
}

.introduction{
    padding-top: 60px;
    width: 500px;
    padding-left: 45px;
}


.text-section h1{
    font-family: "Integralcf", sans-serif;
    line-height: 60px;
    font-size: 55px;
}
.text-section p{
    font-family: "Satoshi", sans-serif;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
    color: #504f4f;
}

.text-section button{
    background-color: black;
    color: white;
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;  
}

.text-section button:hover{
    background-color: rgb(52, 51, 51);
}

.numbers{
    display: flex;
    flex-wrap: wrap;
    font-family: "Satoshi";
    font-weight: 700;
    font-size: 35px;
    margin-top: 20px;
    gap: 20px;
    max-width: 450px;
    line-height: 0;
}

.numbers-list{
    font-size: 10px;
    font-weight: 300;
    font-family: "Satoshi";
    
}

.star-image{
    display: flex;
    position: relative;
}

.small-star{
    display: flex;
    position: absolute;
    top: 50%;

}

.big-star{
    position: relative;
    margin-top: 5%;
    right: 25px;
}

/*BRANDS */


.brands{
    background-color: black;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-size:40px;
    position: relative;
    margin: -5px;
    gap: 100px;
}

.brands br{
    display: none;
}

#versace{
    font-family: "Versace";
    text-transform: uppercase;
    letter-spacing: 2px;
}

#zara{
    font-family: "Zara";
    text-transform: uppercase;
    letter-spacing: -7px;
}

#gucci{
    font-family: "Gucci";
    text-transform: uppercase;
}

#prada{
    font-family: "Prada";
    font-weight: 900;
}

#calvin-klein{
    font-family: "futura";
}
   

.new-arrival{
    display: flex;
    justify-content: center;
}
/*NEW ARRIVAL SESSION*/

.new-arrival h1{
    font-family: "IntegralCF";
    height: 100px;
    display: flex;
    align-items: center;
    font-size: 40px;
}

/*OUTFIT SECTION*/
.outfit-sec{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
   
}



.outfit-details > p{
    font-family: 'Satoshi';
    font-weight: 600;
    position: relative;
    position: relative;
}

.rating-stars{
    gap: 5px;
    display: flex;
    align-items: center;
    position: relative;
    top: -25px;
}

.rating-stars p{
    font-family: "Satoshi";
    font-size: 14px;
}

.outfit-details-p{
    position: relative;
    top: -50px;
}
.outfit-details-price{
    display: flex;
    gap: 5px;
    font-family: "Satoshi";
    align-items: center;
    position: relative;
    top: -50px;
}

.outfit-details-price > img{
    height: 20px;
}
#two-forty{
    font-family: "Satoshi";
    font-weight: 600;
}
#two-sixty{
    text-decoration: line-through;
    font-weight: 600;
    font-family: "Satoshi";
    color: rgb(206, 213, 219);
}

.view-all{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.view-all > button{
    width: 200px;
    height: 50px;
    border-radius: 50px;
    border: 0.5px solid black;
    background-color: white;
    font-size: 12px;
}

.view-all > button:hover{
    background-color: rgb(245, 250, 253);
}

hr{
    margin-top: 50px;
    width: 1300px;
}

.top-selling > h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: "IntegralCF";
    font-size: 40px;
}

/*Dress Style section*/

.dress-style{
    background-color: rgb(244, 243, 242);
    display: grid;
    gap: 20px;
    justify-content: center;
    border-radius: 40px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.dress-style h1{
    font-family: "IntegralCF";
    text-align: center;
    font-size: 40px;
    padding: 50px 0;
}

.casual-formal {
    display: flex;
    gap: 20px;
    
}

.casual-formal p{
    position: absolute;
    padding-left: 35px;
    font-family: "Satoshi";
    font-size: 30px;
    font-weight: 600;
}

.formal > img{
    width: 600px;
    height: 290px;
}

.browse-img{
    border-radius: 20px;
}

.party-gym{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.party-gym p{
    position: absolute;
    padding-left: 35px;
    font-family: "Satoshi";
    font-size: 30px;
    font-weight: 600;
}

.gym-two{
    display: none;
}
/*CUSTOMER REVIEW SECTION*/

.our-cutomers{
    display: grid;
    justify-content: center;
}
.happy-customers{

    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.happy-customers h1{
    font-family: "IntegralCF";
    font-size: 40px;
    padding-right: 450px;
}

.scroll-arrows{
    display: flex;
    align-items: center;
    gap: 10px;
}

.customer-review{
     
    border: 0.5px solid rgb(230, 227, 227);
    min-width: 300px;
    font-family: "Satoshi";
    border-radius: 10px;
    padding: 30px;
   
}

.customer-name{
    display: flex;
    align-items: center;
}

.customer-name p{
    font-weight: 600;
}

.the-review{
    font-size: 15px;
    color:  rgb(94, 94, 93);
    margin-top: -4px;
}

.c-review{
    max-width: 1400px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    overflow-x: auto;
    scrollbar-width: none;
    gap: 10px;
}

/*FOOTER SECTION*/
footer{
    background-color: rgb(230, 227, 227);
    margin-top: 200px;
    width: 100%;
}

.subscribe{
    position: relative;
    top: -100px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 50px auto;
    border-radius: 15px;
    padding: 30px;
}

.text-mail{

    display: flex;
    gap: 100px;
}

.subscribe h1{
    font-family: "IntegralCF";
    max-width: 450px;
}
.email{
    align-items: center;
    display: flex;
}
.email > img{
    position: absolute;
    width: 20px;
    padding-left: 15px;
}

.email-news{
    display: grid;
    gap: 10px;
    
}
.email input{
    padding-left: 45px;
    width: 349px;
    height: 46px;
    border-radius: 25px;
    border: none;
    font-size: 15px;
    font-family: "Satoshi";
}
.email-news button{
    padding-left: 45px;
    width: 400px;
    height: 46px;
    border-radius: 25px;
    border: none;
    background-color: white;
    font-family: "Satoshi";
    font-weight: 500;
    font-size: 15px;
    text-align: center;
    padding-right: 20px;
}

.email-news button:hover{
    background-color: rgb(208, 203, 203);
}

.closing-sec{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-top: -130px;
    border-radius: 15px;
    padding: 30px;
    align-items: center;
    font-family: "Satoshi";
    gap: 40px;
    
}

.closing-sec-two{
    display: none;
}

.shop{
    margin-top: -50px;
    width: 300px;
    color: rgb(85, 84, 83);
    font-size: 12px;
    line-height: 20px;
    padding-right: 50px;
}

.shop p{
    font-family: "Satoshi";
    padding-top: 10px;
}

.shop img{
    padding-top: 10px;
}

.media{
    display: flex;
    gap: 10px;
    padding-top: 10px;
    
}

.last-sec{
    margin-top: -30px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}

.last-sec h3{
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
}

.last-sec ul{
 padding-left: 0px;
}

.last-sec li{
    list-style: none;
    line-height: 30px;
    color: rgb(85, 84, 83);
    font-size: 12px;
   
}

#f-hr{
    width: 1000px;
}

/*Payment Details*/

.payment-section{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-top: 10px;
    align-items: center;
    color: rgb(85, 84, 83);
    font-size: 15px;
    padding-bottom: 50px;
    gap: 210px;
}

.payment-section p{
    font-family: "Satoshi";
}

.payment-opt{
    display: flex;
    gap: 10px;
}




/*MOBILE RESSPONSIVENESS*/
@media(min-width: 319px) and (max-width: 480px){
    body{
        width: 100%;
        overflow-x: hidden;
    } 



    .signUp{
        width: 100%;
        justify-content: center;
        
    }
    
    
    .signUp > p{
        font-size: 11px;
    }
    .signUp > img{
        display: none;
    }

    /* NAV SECTION */

    .heroSection{
        width: 87%;
        padding: 0 20px;
        margin-top: 0px;
        justify-content: space-between;
        gap: 0px;
    }



    .cart-profile{
        justify-content: flex-end;
    }

    .menu-logo{
        display: flex;
        gap: 5px;
    }

    .menu-logo > img{
        width: 110px;
    }

    #menu{
        width: 20px;
    }

    .s-icon{
        display: flex;
    }

    .cart-profile{
        gap: 10px;
    }

    #menu{
        display: flex;
    }

    .List {
        display: none;
    }

    .search-section{
        display: none;
    }


    .search-section-two{
        display: none;
    }
    .new-sec{
        width: 100%;
        margin: 0 auto;
        flex-direction: column;

    }

    .introduction{
        width: 90%;
        margin: 0 auto;
        padding-top: 0px;
        padding-left: 0px;
        
    }

    .text-section h1{
        max-width: 300px;
        font-size: 33px;
        line-height: 40px;
    }

    .text-section p{
        
        font-size: 12px;
    }

    .text-section button{
        width: 100%;
        margin: 0 auto;
        justify-content: center;
        font-size: 11px;
    }

    .numbers{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
        max-width: 90%;
        margin: 0 auto;
        font-size: 35px;
    }

    .numbers-list{
        text-align: center;
    }

    .small-star{
        position: absolute;
        top: 600px;
    }


    .star-image{
        justify-content: center;
        
    }

    .small-star{
        top: 60px;
        left: 20px;
    }

    .small-star > img{
        width: 40px;
         
    }

    .big-star{
        position: absolute;
        top: -50px;
    }

    .big-star > img{
         width: 60px;
    }

    .bg{
        position: absolute;
        display: flex;
        justify-content: center;
       
    }

    .bg-image{
        padding: 0px;
        margin-top: -80px;
    }

    .bg-image > img{
        padding-top: 0px;
        width: 90%;
    }

    /* BRANDS */

    .brands{
        font-size: 30px;
        width: 100%;
        margin: -7px auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 25px;
        font-size: 35px;

    }.brands br{
        display: block;
    }

    #versace{
        
        margin: 0 ;
       
    }
    #zara{
        margin: 0 ;
    }
    #gucci{
        margin: 0 ;
    }
    #prada{
        font-size: 25px;
        margin: 0 ;
    }
    #calvin-klein{
        font-size: 27px;
        margin: 0 ;
    } 

    /* NEW ARRIVAL */
    .outfit-sec{
        display: flex;
        flex-wrap: nowrap;
        width: 90%;
        margin: 0px auto;
        overflow-x: auto;
        scrollbar-width: none;
    }

    .new-arrival{
        width: 90%;
        margin: 0 auto;
    }

    .new-arrival h1{
        font-size: 30px;
    }

    .c-hr{
        width: 80%;
        margin: 50px auto;
    }

    .outfits > img{
        border-radius: 15px;
        width: 200px;
    }

    #trouser{
        width: 185px;
    }

    #jean{
        width: 173px;
    }

   .view-all button{

        width: 90%;
        margin: 0 auto;
   }


   .top-selling{
        width: 90%;
        margin: 0 auto;
       
   }

   .top-selling h1{
     font-size: 30px;
   }
   /* DRESS STYLE SECTION */

   .dress-style{

    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 30px;
   }

   .dress-style h1{
    padding-top: 30px;
    width: 90%;
    margin: 0 auto;
    font-size: 35px;
   }

   .casual-formal{
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
   }

   .casual-formal img{
        width: 100%;
        height: 150px;
        margin: 0 auto;
        /* border: 2px solid rgb(87, 28, 114); */
   }

   .browse-img img{
    width: 90%;
    
   }

   .gym{
        display: none;
   }

   .gym-two{
    display: grid;
    width: 100%;
    margin: 0 auto;
   }


   .gym-img > img{
    background-color: white;
    height: 150px;
   }

   .casual-formal p{
    font-size: 20px;
   }

   .party-gym p{
    font-size: 20px;
   }

   .party-gym img{
        width: 100%;
        height: 150px;
        margin: 0 auto;
        /* border: 2px solid rgb(199, 31, 82); */
   }

   .party-gym{
    flex-direction: column;
    justify-content: center;
    width: 90%;
    margin: 0 auto;
   }

   .dress-style-sec{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
   }


   /* REVIEW SECTION */

   .our-cutomers{

        width: 90%;
        margin: 0 auto;
   }

   .happy-customers{
        gap: 0px;
        align-items: center;
   }

   .scroll-arrows > img{
    margin-top: 50px;
   }

   .happy-customers h1{
    font-size: 30px;
    padding: 0px;
   }

   .customer-review{
        min-width: 300px;
        height: 170px;
   }


   /* SUBSCRIBE SECTION */

   .subscribe{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 20px;
   }

   .subscribe h1{
    display: flex;
    flex-wrap: wrap;
    font-size: 25px;
    max-width:80%;
    margin: 0 auto;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 0px;
   }


   .email-news{
        width: 90%;
        display: grid;
        justify-content: center;
        margin: 0 auto;
        padding: 0px;

   }


   .email input{
    justify-content: center;
    font-size: 12px;
    height: 40px;
    max-width: 70%;
    /* margin: 0 auto; */
    margin: 0px;
   }

   .email-news button{ 
    width: 83%;
    /* margin: 0 auto; */
    height: 40px;
    font-size: 12px;
    padding: 0px;
   }

   .email > img{
    margin-left: 5px;
    width: 15px;
    padding-left:10px;
   }

   .text-mail{
    display: grid;
    justify-content: center;
    gap: 0px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px;
    padding-left: 30px;
   }

   /* CLOSING SECTION */


   .closing-sec{
    display: none;
   }

   .closing-sec-two{
    font-family: "Satoshi";
    display: grid;
    width: 90%;
    margin-top: -50px ;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    
   }

   .shop-two{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    margin-bottom: 10px;
   }

   .shop-two p{
    padding-top: 5px;
    font-size: 15px;
    color: #747272;
   }

   .shop-two img{
    padding-top: 20px;
    
   }

   .media-two{
    margin-top: -10px;
   }

   .company-help{
    max-width: 100%;
    padding-top: 30px;
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    font-family: "Satoshi";
   }


   .faq-resources{
    margin: 0px;
    max-width: 100%;
    padding-top: 30px;
    padding-left: 0px;
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    font-family: "Satoshi";
   }

   .last-sec{
    padding-left: 0px;
   }

   #f-hr{
    width: 90%;
    margin: 0 auto;

   }


   .payment-section{
    font-family: "Satoshi";
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
   }

   .payment-opt{
    width: 70%;
    margin: 0 auto;
    gap: 5px;
    justify-content: center;
   }

   .payment-opt > img{
    width: 40px;
   }
}